# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015+ cache/options
.vs/
*.VC.db
*.VC.VC.opendb

# Visual Studio Code
.vscode/

# User-specific files
*.user
*.userosscache
*.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Bb]ootstrap/
[Tt]est[Rr]esults/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by using VS 2008
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.DotSettings
*.userprefs

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
coveragereport.xml

# Coverity
coverity_must_be_modified_config.xml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/msdn2017.css
DocProject/Help/third-party-prose.xsl
DocProject/Help/third-party-reference.xsl
DocProject/Help/msdn2017.xsl

# Click-Once folder
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
pubxml/
# TODO: Comment the next line if you want to checkin your web deploy settings.
*.pubxml.user

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# check in your Azure Web App publish settings, but sensitive information contained
# in these files will be unencrypted.
*.PublishSettings

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when the solution receives a clean and build.
# !packages/packages.config
# NuGet v3's project.json packages folder
# NOTE: this is removed when the top level project.json NuGet folder is not empty - see bottom of this file
[Nn]uGet/[Pp]ackages/
# NuGet's V3 'packages' folder (note: local feed caches package files)
[Nn]uGet/[Vv]3-[Ff]allback[Pp]ackage[Ff]olders/
[Nn]uGet/[Aa]rtifacts/

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache/options/intellisense
*.Cache
*.CodeAnalysisLog.xml
*.resx.mui
*.sln.docstates
*.sln.idestate
*.suo
*.user
*.userosscache
*.sln.ncrunch
*.vcxproj*.teamproj.user
*.VC.db
*.VC.VC.opendb
*.dtproj.db
*.sqlce
*.sdf
*.cache
*.ide
*.aps
*.pidb
*.opendb
*.opensdf
*.sln.dotsettings
*.userprefs
*.vcxproj.user
*.vsmdi
*.vsixmanifest
*.vstemplate
*.vshost.*
*.vswcc
*.resharper
*.cache
*.coverage
*.DotSettings
*.testsettings
*.vsmdi
*.vsix
*.cab
*.caf
*.dep
*.dat
*.tlog
*.wrn
*.xml.bin
*.metaproj
*.metaproj.cache
*.vcxproj.filters
*.vcxproj.user
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.ilk
*.iobj
*.ipdb
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.userprefs
*.unsuccessfulbuild
*.failedbuild
*.cache
*.VC.VC.opendb
*.VC.db
*.VC.opendb
*.VC.sln.db
*.VC.user
*.VC.userosscache
*.VC.sln.user
*.VC.sln.userosscache
*.VC.sln.idestate
*.VC.sln.docstates
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.sln.userosscache
*.VC.sln.user
*.VC.sln.docstate
*.VC.sln.ide
*.VC.sln.userprefs
*.VC.s